<div class="order">
  <h3 class="mb-5 ms-2 mt-5">Order Summary</h3>
  <div class="row">
    <div class="col">
      <ul class="cart-details__list">
        <li class="cart-details__item shadow" *ngFor="let item of cart.items">
          <div class="left d-flex align-items-center">
            <img matListAvatar [src]="item.imageUrl" [alt]="item.name" />
            <h3>{{ item.name }}</h3>
          </div>
          <div class="right d-flex align-items-center">
            <div class="div d-flex align-items-center cart-details__item-count">
              <span class="me-2">{{ item.itemCount }}</span>
              <span>{{ item.unit }}</span>
            </div>
            <div
              class="div d-flex align-items-center ms-3 cart-details__item-price"
            >
              <h3>
                {{
                  item.itemCount * item.price | currency: "USD":"symbol":".2-2"
                }}
              </h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col order__amount shadow-lg">
      <div class="order__subtotal mb-1">
        <div>Sub-Total</div>
        <div class="">
          {{ cart.subTotal | currency: "USD":"symbol":".2-2" }}
        </div>
      </div>
      <div class="order__delivery mb-1">
        <div>(Standard) Delivery Fees</div>
        <div class="">
          {{ cart.delivery | currency: "USD":"symbol":".2-2" }}
        </div>
      </div>
      <div class="order__total mt-2 mb-4">
        <div>Total</div>
        <div class="">
          {{ cart.totalPrice | currency: "USD":"symbol":".2-2" }}
        </div>
      </div>
      <button mat-raised-button color="primary">Place Order</button>
    </div>
  </div>
</div>
