@import "../shared/styles/variables";

.order {
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10rem;

  &__container {
    // width: 50;
    padding: 2rem;
    border-radius: 10px;
  }

  &__stepper-button {
    padding: 0 5rem;
    color: #fff;
    margin-right: 1rem;
  }
}

.emptyCart {
  color: $color-primary;
  font-size: 2.6rem;
}
