<div class="navbar row rounded-shadow">
  <div class="col"></div>
  <div class="col">
    <button routerLink="/store" mat-icon-button matTooltip="Fresh Foods Store">
      <img
        src="/assets/icon-store.svg"
        alt="Fresh Foods Store"
        *ngIf="active == 'store' ? false : true"
      />
      <img
        src="/assets/icon-store-green.svg"
        alt="Fresh Foods Store"
        *ngIf="active == 'store' ? true : false"
      />
    </button>
  </div>
  <div class="col">
    <button mat-icon-button matTooltip="Fresh Foods Recipes">
      <img
        src="/assets/icon-recipes.svg"
        alt="Fresh Foods Recipes"
        *ngIf="active == 'recipes' ? false : true"
      />
      <img
        src="/assets/icon-recipes-green.svg"
        alt="Fresh Foods Recipes"
        *ngIf="active == 'recipes' ? true : false"
      />
    </button>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-center">
    <img src="/assets/logo-small.svg" alt="Fresh Foods Logo" class="" />
  </div>
  <div class="col">
    <button
      routerLink="/cart"
      mat-icon-button
      matTooltip="Cart"
      [matBadge]="itemCount"
    >
      <img
        src="/assets/icon-cart.svg"
        alt="Cart"
        *ngIf="active == 'cart' ? false : true"
      />
      <img
        src="/assets/icon-cart-green.svg"
        alt="Cart"
        *ngIf="active == 'cart' ? true : false"
      />
    </button>
  </div>
  <div class="col">
    <button
      routerLink="/profile"
      mat-icon-button
      matTooltip="Settings"
      class="navbar__active-icon"
    >
      <img
        src="/assets/icon-settings.svg"
        alt="Settings"
        *ngIf="active == 'settings' ? false : true"
      />
      <img
        src="/assets/icon-settings-green.svg"
        alt="Settings"
        *ngIf="active == 'settings' ? true : false"
      />
    </button>
  </div>
  <div class="col"></div>
</div>
